$color-white: #fff;
$color-grey-text: #9095a0;
$color-dark-purple: #7e56db;
$color-black: #000;
$color-purple-gradient: #4158d0;
$color-pink-gradient: #c850c0;
$color-input-placeholder: #666;
$color-input-background: #e6e6e6;
$color-form-button: #57b846;
$color-span: #999999;
$color-box-shadow: #959da533;

$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-small: 1024px;
$screen-desktop: 1440px;
$screen-xl: 1920px;

$border-radius-form: 25px;